
#####################################################
#
# List of approvers for qubership-integration-vscode-extension
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @NuTTeR
