---
name: Link Checker

on:
  push: null
  repository_dispatch: null
  workflow_dispatch: null
permissions:
  contents: read
jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          args: --root-dir ${{ github.workspace }} --verbose --no-progress './**/*.md' --accept 100..=103,200..=299,429
          format: markdown
          fail: true
